p {
    margin: 0px;
    padding: 0px;
}
.places > h1 {
    font-size: 30px;
    text-align: left;
}
.all_places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #FF5A5F;
    border-radius: 4px;
}
.all_places article h2 {
    font-size: 30px;
    text-align: right;
    margin: 0px;
}
.all_places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div.price_by_night {
    color: #FF5A5F;
    border: solid 4px #FF5A5F;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 30px;
    box-sizing: border-box;
    padding: 20px 0px;
    text-align: center;
    margin-left: 30px;
}
div.price_by_night > p {
    margin: 10px;
}
.all_places > article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.all_places > article h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.all_places > article div.price_by_night {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-bottom: 20px;
}
.all_places > article div.information {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}
.all_places > article div.user {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 40px;
    margin-top: 10px;
}
.all_places > article div.description {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}
.information {
    height: 80px;
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 1px #DDDDDD;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.max_guest {
    width: 100px;
    background: url("../images/icon_group.png") no-repeat center top;
    margin: 5px auto;
    text-align: center;
}
.max_guest > span {
    margin-top: 50px;
    display: inline-block;
}
.number_rooms {
    width: 100px;
    background: url("../images/icon_bed.png") no-repeat center top;
    margin: 5px auto;
    text-align: center;
}
.number_rooms > span {
    margin-top: 50px;
    display: inline-block;
}
.number_bathrooms {
    width: 100px;
    background: url("../images/icon_bath.png") no-repeat center top;
    margin: 5px auto;
    text-align: center;
}
.number_bathrooms > span {
    margin-top: 50px;
    display: inline-block;
}
.all_places article:first-child div.information {
    margin-top: -40px;
}
.all_places article:first-child div.user {
    margin-top: -30px;
    margin-bottom: 0px;
}
.all_places article:first-child div.description {
    margin-top: -50px;
}
