.places > h1 {
    font-size: 30px;
    text-align: left;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #FF5A5F;
    border-radius: 4px;
}
.places article h2 {
    font-size: 30px;
    text-align: center;
    margin: 0px;
}
.all_places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div.price_by_night {
    color: #FF5A5F;
    border: solid 4px #FF5A5F;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 30px;
    box-sizing: border-box;
    padding: 20px 0px;
    text-align: center;
    margin-left: 30px;
}
.all_places > article {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.information {
    height: 80px;
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 1px #DDDDDD;
    display: flex;
    flex-direction: row;
}
.max_guest {
    width: 100px;
    background: url("../images/icon-group.png") no-repeat;
}

